html{
    background-color: #3084F2;
}

* {
    margin: 0;
    padding: 0;
}

header .menu-container {
    background-color: #3084f2;
}

header img {
    width: 100px;
    height: 100px;
}

header .menu-container div {
    max-width : 1200px;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav a {
    text-decoration: none;
    color: white;
    padding: 41px 12px;
    display: block;
}

header a:hover {
    text-decoration: underline;
    font-size: 18px;
    padding: 39px 10px;
}

footer{
    background-color: #3084F2;
}

.footer{
    display: flex;
    background-color: white;
    border-radius: 80px;
    padding: 2rem;
}

footer section{
    width: 100%;
    text-align: center;
    color: white;
    background-color: red;
    border-radius: 80px;
    margin: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    margin: 0.5rem;
    width: 60%;
}

input:last-of-type{
    margin: 0.5rem;
    width: 30%;
}

footer ul{
    padding: 0px;
}

.footer li{
    list-style-type: none;
    margin: 0.5rem auto;
    
}

.footer li:first-of-type{
    margin-top: 1rem;
}

.footer li a{
    text-decoration: none;
    margin: 0.5rem;
    color: white;
}

.footer li a:hover{
text-decoration: underline;

